#window {
    font-family: "FiraSans";
    font-weight: 500;
    font-size: 17px;
    border-radius: 20px;
    background: rgba(11, 24, 50, 0.4);
}

/* search bar and items container */
#outer-box {
    margin: 10px 10px;
    padding:10px;
    padding-bottom: 30px;
}

#input {
    margin: 0 0px;
    margin-bottom: 30px;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 20px;
    background: rgba(87, 108, 188, 0.7);
}

/* items container */
#inner-box {
    padding: 0;
    padding-top: 0px;
}



#scroll {
    margin: 0px;
}

/* Changes icon of app */
#img {
    background: transparent;
}
 
/* text boxes */
#text {
}

/* For all CONTAINERS for entities */
#unselected {
}

#entry{
    padding: 5px 10px;
    border-radius: 5px;
}

#entry:selected {
    /* background-color: rgba(187,204,221,0.5); */
    background: rgba(87, 108, 188, 0.7);
    color: #333333;
    border-radius: 20px;
}










